body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #24292E;
}

.app {
    margin: 2vh;
}

.content {
    margin: 2vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.filediv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.style_title {
    font-size: 30px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    background-color: #141f2e;
    margin: 0;
    padding: 1vh;
}

.button-4 {
  appearance: none;
  width: 20vw;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}


.inputdiv {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}

.input_text {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.1rem;
  color: #24292E;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

label {
    font-weight: bold;
}

.inputLabel {
  position: absolute;
  top: 0;
  display: block;
  font-size: 1rem;
  color: #24292E;
}

.inputdiv:focus {
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #26cda3,#1d4e42);
  border-image-slice: 1;
}
/* reset input */
.inputdiv{
  &:required,&:invalid { box-shadow:none; }
}

textarea {
    font-family: inherit;
    width: auto;
    border: 1px solid #2c2c2c;
    border-radius: .5rem;
    padding : .625rem;
    outline: 0;
    font-size: .875rem;
    line-height: 1.25rem;
    color: #24292E;
    background: transparent;
    transition: border-color 0.2s;
    display: none;
}

.hiddentextarea {
    display: none;
}

/* The switch - the box around the slider */
.switch {
    top: 1vh;
    right: 1vw;
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #3e4c5f;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #3e4c5f;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .button_update_config {
    display: none;
  }